[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
[submodule "src/aws-sdk-cpp"]
	path = src/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
